/* You can add global styles to this file, and also import other style files */

@import "./themes/palette.scss";
//@import "./themes/theme.scss";
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
}

.contain-all {
    &.light-mode {
        @import "./themes/light-theme/variables.scss";
        .form-background {
            background-color: $background-color;
        }
        .primary-button {
            color: white;
            background: $button-background-color-one;
            padding: 0.5rem;
            border-radius: 0.2rem;
            border: none;
            font-weight: normal;
            font-size: 1rem;
            pointer-events: cursor;
        }
        .secondary-button {
            color: black;
            background: $button-background-color-two;
            padding: 0.5rem;
            border-radius: 0.2rem;
            border: none;
            font-weight: normal;
            font-size: 1rem;
            pointer-events: cursor;
        }
        .accent-button {
            color: white;
            background: $button-background-color-three;
            padding: 0.5rem;
            border-radius: 0.2rem;
            border: none;
            font-weight: normal;
            font-size: 1rem;
        }
    }
    &.dark-mode {
        @import "./themes/dark-theme/variables.scss";
        .form-background {
            background-color: $background-color;
        }
        .primary-button {
            color: white;
            background: $button-background-color-one;
            padding: 0.5rem;
            border-radius: 0.2rem;
            border: none;
            font-weight: normal;
            font-size: 1rem;
            pointer-events: cursor;
        }
        .secondary-button {
            color: black;
            background: $button-background-color-two;
            padding: 0.5rem;
            border-radius: 0.2rem;
            border: none;
            font-weight: normal;
            font-size: 1rem;
            pointer-events: cursor;
        }
        .accent-button {
            color: white;
            background: $button-background-color-three;
            padding: 0.5rem;
            border-radius: 0.2rem;
            border: none;
            font-weight: normal;
            font-size: 1rem;
        }
    }
}

// .header {
//     background-color: $background-color;
// }
button:hover {
    pointer-events: cursor;
}

button {
    &:disabled {
        background-color: lightgrey;
    }
}