<!-- <div class="contain-all light-mode" [ngClass]="isDarkTheme ? 'dark-mode' : 'light-mode'">
    <div>
        
        <div class="fixed-header header-theme">
                <nav>
                    <span class="text-padding"> Books Collection App</span>
                    
                    <button (click)="toggleTheme()" class="float-right">Toggle theme</button>
                    
                    <div *ngIf="isAuthenticated; then userLoggedIn; else showLoginAndSignUp" class="actions"></div>
                    
                    <ng-template #userLoggedIn>
                        <a aria-label="Logout" class="nav-item nav-link" style="margin-right: 25px; float: right; cursor: pointer;" (click)="logout()">Logout</a>
                        <span style="margin-left: 6em">
                             Hi. Welcome <em>{{ user.email }}!</em>
                        </span>
                    </ng-template>

                    <ng-template #showLoginAndSignUp>
                        <a aria-label="Login" class="nav-item nav-link" style="margin-right: 25px; float: right; cursor: pointer;" (click)="gotoLogin()" >Login</a>
                        <a aria-label="Sign up" class="nav-item nav-link" style="margin-right: 25px; float: right; cursor: pointer;" (click)="gotoSignUp()">Sign up</a>
                    </ng-template>
                </nav>
        </div>
    </div> -->

    <div class="books-section">
        <app-books-list [userAuthenticated]="isAuthenticated"></app-books-list>
    </div>
<!-- </div> -->